.page__logo {
  width: 300px;
}

.table__container__products {
  width: 35%;
  border: 1px solid rgb(228, 227, 227);

}

.line {
  border-bottom: 1px solid rgb(194, 194, 194);
  width: 350px;
  height: 1px;
}

select , option{
     width: 100%;
}

@media (max-width: 768px) {
  .page__logo {
    width: 55%;
  }
  .line {
    width: 70%;
  }
  .table__container__products {
    width: 90%;
  }
}
