.product_list__container{
  width: 50%;
}

.table__container__products {
  width: 100%;
  border: 1px solid rgb(228, 227, 227);
}

select , option{
     width: 100%;
}

.dialog button {
  padding: 10px;
  width: 150px;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
}

.delete_entry{
  background-color: #b30e0e;
}

.delete_entry:hover {
  background-color: #8c0707;
}


@media (max-width: 768px) {
  .table__container__products {
    width: 90%;
  }
  .product_list__container{
    width: 100%;
  }
}
