.product_list__container{
  width: 50%;
}

.table__container__products {
  width: 100%;
  border: 1px solid rgb(228, 227, 227);
}

select , option{
     width: 100%;
}

@media (max-width: 768px) {
  .table__container__products {
    width: 90%;
  }
  .product_list__container{
    width: 100%;
  }
}
