.home{
  height: 100vh;
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__logo{
  width: 500px;
  padding-bottom: 25px;
}

.home__buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

.products__page,.bill__page{
height: 35px;
width: 100px;
border-radius: 7px;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
font-size: 13px;
cursor: pointer;
}

.products__page{
  background-color: rgb(219, 0, 0);
}

.bill__page{
  background-color: black;
}

@media (max-width:768px){
  .home__logo{
    width: 90%;
    padding-bottom: 40px;
  }
}