.home {
  height: 100vh;
  background-image: url('https://www.pngitem.com/pimgs/m/178-1783514_transparent-circuit-vector-png-circuit-png-png-download.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__logo {
  width: 500px;
  padding-bottom: 25px;
}

.home__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.products__page,
.bill__page,
.invoice__page {
  border-radius: 15px;
  width: 150px;
  padding: 10px 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0.09px rgb(0, 0, 0);
}

.products__page {
  background-color: rgb(219, 0, 0);
}

.products__page:hover {
  background-color: rgb(177, 8, 8);
}

.bill__page {
  background-color: black;
}

.bill__page:hover {
  background-color: rgb(29, 27, 27);
  color: #cccc ;
}

.invoice__page {
  background-color: rgb(65, 65, 69);
}

.invoice__page:hover {
  background-color: rgb(105, 100, 100);
}

/* modal */

.modal {
  max-width: 550px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.modal h1 {
  font-weight: 700;
}

.modal form {
  width: 60%;
  margin-top: 10px;
}

.modal form div {
  display: flex;
  flex-direction: column;
}

.modal label {
  margin-bottom: 4px;
}

.modal input {
  padding: 7px 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid grey;
  outline: none;
}

.modal button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

.modal button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 15px;
  text-align: center;
}


@media (max-width:768px) {
  .home__logo {
    width: 95%;
    padding-bottom: 20px;
  }

  .modal form {
    width: 90%;
  }

  .home__buttons {
    flex-direction: column;
    gap: 10px;
  }

  .products__page,
  .bill__page,
  .invoice__page {
    position: relative;
    border-radius: 15px;
    width: 97vw;
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(172, 172, 172, 0.388);
  box-shadow: 1px 1px 1px 0.1px rgb(149, 147, 147);
  }

  .background-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    border-radius: 15px;
  }

  .button-content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    font-weight: 800;
    color: black;
  }

}