.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 25px 20px 0px 20px;
  position: fixed;
  right: 5px;
  bottom: 20px;
  z-index:0;
}

.buttons div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add__button {
  /* background-color: #28a745; */
  background-color: rgb(255, 183, 0);
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.add__button:hover {
  /* background-color: rgb(38, 133, 68); */
  background-color: rgb(255, 170, 0)
}

.download__button {
  background-color: #28a745;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.download__button:hover {
  background-color: #238f3c;
}

.clear__button {
  background-color: #dc3545;
  color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.clear__button:hover {
  background-color: rgb(170, 38, 34);
}

.heading {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact,.license {
  margin: 0;
}

.license{
  font-weight: 600;
}

.contact{
  margin-bottom: 10px;
}

.name_time_place{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-inline: 5px;
}


/* table section */

.sheet__container {
  width: 50%;
}

.sheet {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px 0 20px;
}

.table__container {
  width: 100%;
  border: 1px solid rgba(228, 227, 227, 0.858);
}

.total__sec {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10px;
}

.table__heads {
  background-color: rgb(9, 8, 8) !important;
  color: #fff;
}

.table__heads th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid rgb(189, 189, 189);
  font-weight: 600;
}

.table__body tr:hover,
.table__body tr:nth-child(even):hover {
  background-color: #cccc;
  cursor: pointer;
  transition: 0.3s;
}

.table__body tr:nth-child(even) {
  background-color: #f6f5f5;
}

.table__body td {
  padding: 3px 5px 3px 8px;
}

/* dialogue section  */

.dialog-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index:9999;
  width: 100%;
  max-width: 350px !important;
}

.dialog_header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dialog div {
  margin-bottom: 10px;
}

.dialog label {
  display: block;
  margin-bottom: 5px;
}

.dialog input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.disabled_input{
  background-color: lightcoral;
}

.dialogue__btn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.dialog button {
  padding: 8px 10px;
  width: 150px;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.dialog button[type='submit'] {
  background-color: #28a745;
}

.dialog button[type='submit']:hover {
  background-color: #238f3c;
}


/* invoice styles */


.invoice__container {
  width: 100%;
  border: 1px solid #aaaa;
  margin-top: 20px;
  height: auto;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.invoice__table {
  width: 100%;
  border-collapse: collapse;
}

.invoice__heading {
  text-align: center;
  border-bottom: 1px solid #dddd;
}

.invoice__heading th {
  padding: 10px;
  border: 1px solid #cccc;
  background-color: #f4f6f4;
  font-weight: normal;
}

.invoice__heading th:nth-child(1) {
  width: 10%;
}

.invoice__heading th:nth-child(2) {
  width: 65%;
}

.invoice__heading th:nth-child(3) {
  width: 25%;
}

.invoice__data td:nth-child(3){
  text-align: right;
  padding-right: 10px;
}

.invoice__data td {
  padding: 10px 0px;
  text-align: center;
  align-items: flex-start;
  border: 1px solid #ddd;
  font-size: 14px;
}

.invoice__data td:nth-child(1){
color: grey;
}

.invoice__footer{
  height: 40px;
  border-top: 1px solid #dddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 10px;
}


.invoice__total__name{
  width: 75%;
  border-right: 1px solid #dddd;
}

.invoice__signature{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invoice__signature p{
margin: 0;
font-size: 12px;
}

.invoice__signature img{
  width: 150px;
  position: relative;
  bottom: 20px;
  z-index:-1;
}


@media (max-width: 800px) {
  .sheet__container {
    width: 100%;
  }

  .table__container {
    width: 95%;
    padding-inline: 10px;
  }

  .sheet {
    padding: 20px 0px 0px 0px;
  }
  .dialog {
    width: 90%;
  }

  .heading p {
    font-size: 10px;
  }

  .invoice__container {
    width: 95%;
    border: 1px solid #aaaa;
    margin-top: 20px;
  }
}
